---
layout: base
---
<div class="container-xxl">
    <div class="col-md-9 px-3 mx-auto">
        <div class="text-center mt-20 mb-12">
            <h1 class="display-3 ls-tight">
                <span class="d-inline-flex text-transparent bg-clip-text gradient-bottom-right start-purple-500 end-indigo-400 position-relative">
                    Michal</span> akvaristika
            </h1>
        </div>
        <div class="row g-6 g-lg-6 pb-6">
            <h1>{{ title }}</h1>
        </div>
        <div class="d-grid gap-3">
            {{ content | safe }}
        </div>
        <div class="pt-6">
            <a href="/">Späť</a>
        </div>

        <p class="text-muted text-sm font-semibold text-center my-12">
            Made with <i class="bi bi-heart mx-1"></i> by <a href="https://github.com/frido">Frido</a>
        </p>
    </div>
</div